{
  acme_dns cloudflare {$CLOUDFLARE_DNS_API_TOKEN}

	{$CADDY_GLOBAL_OPTIONS}

	frankenphp {
		#worker /path/to/your/worker.php
		{$FRANKENPHP_CONFIG}
	}

	# https://caddyserver.com/docs/caddyfile/directives#sorting-algorithm
	order php_server before file_server
	order php before file_server
}

{$CADDY_EXTRA_CONFIG}

{$SERVER_NAME:localhost} {
	root * public/
	encode zstd gzip

	{$CADDY_SERVER_EXTRA_DIRECTIVES}

	# Needed for Symfony, Laravel and other projects using the Symfony HttpFoundation component
	request_header X-Sendfile-Type x-accel-redirect
	request_header X-Accel-Mapping ../private-files=/private-files

	intercept {
		@accel header X-Accel-Redirect *
		handle_response @accel {
			root private-files/
			rewrite * {resp.header.X-Accel-Redirect}
			method * GET

			# Remove the X-Accel-Redirect header set by PHP for increased security
			header -X-Accel-Redirect

			file_server
		}
	}

	php_server
}
